# Compiled Object files
*.slo
*.lo
*.o
*.class

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Extra Folders
target/
trec-kba-rsa.secret-key
.classpath/
.project/
.classpath
.project
.ensime
.cache

.DS_Store
